* {
    font-family: sans-serif;
    margin: 0;
}

/* Beginning of first section  */

.sectone {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 75px;
}

.head-top {
    display: flex;
}

.head-top ul {
    display: flex;
    margin-left: auto;
    gap: 15px;
}



.head-content {
    display: flex;
    font-size: 18PX;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sectone p {
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.head-link {
    font-size: 18px;
    color: #E5E7EB;
}

.head-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.head-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 50px;
}

.head-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18PX;
    font-weight: 700;
    border: 0px;
    border-radius: 7PX;
    padding: auto;
    width: 125px;
    height: 35px;
    margin-top: 10px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    border-radius: 20px;
}

.sectone img {
    height: 300px;
    width: 800px;
}

/* End of first section */

/* Beginning of second section */

.square {
    /* border: 4px solid #3b82f6;
    border-radius: 15px; */
    width: 175px;
    height: 175px;
}

.square-row {
    display: flex;
    justify-content: space-around;
    padding-left: 25%;
    margin-right: 25%;
}

.randinfo {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.secttwo {
    /* padding-bottom: 150px; */
    height: 500px;
}

.secttwo img {
    width: 175px;
    height: 175px;
    padding: 0;
    border-radius: 15px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.square-unit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* End of second section */

/* Beginning of third section */

.sectthree {
    background-color: #E5E7EB;
    color: #1F2937;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure {
    width: 800px;
    height: 200px;
}

blockquote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

figcaption {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

/* End of third section */

/* Beginning of  fourth section */

.sectfour {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 35%;
    width: 70%;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blue-box-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18PX;
    font-weight: 700;
    border: 2px solid #F9FAF8;
    border-radius: 7PX;
    padding: auto;
    width: 145px;
    height: 40px;
    margin-top: 10px;
}

.blue-box-big-text {
    font-size: 22px;
    font-weight: bold;
}

.blue-box-small-text {
    font-size: 18px;
}